script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
script window.jQuery || document.write('<script src="js/vendor/jquery-2.0.3.min.js"><\/script>')
script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"
= javascript_include_tag :application

